Ṇ.msd{
    padding: 100px 100px 100px 100px;
    height: 100px;
    width: 100px;
    border-radius:300px;
    }
    .wikipedia{
    color: blue;
}
    .playing-style{
    color: yellow;
}
    .join-fanpage{
    color:pink;
}
    body{
    color:white;
    background-color:green;
}